.footer-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;

  }
  
.footer-container > h1 {
    color: #515356;
    margin-right: 900px;
   
}

